<html>
    <head>
        <title>About Me!</title>
        <link rel="stylesheet" href="about.component.css">
    </head>
    <body>
        <div id="image">
            <img src="../assets/background.png" width="1300" height="575"/>
            <img src="../assets/althaf.jpeg" width="350" height="350" id="img2" />
        </div>
        
        <div id="about" class="about">
            <div class="content">
                <h2>Achievements</h2>
                <ul>
                    <li>
                        <b style="font-size:18px">Hack Club, KMEA, Aluva, Kerela.</b>
                        <p>
                            <b>January 2021 - PRESENT</b>
                            <br>
                            Iam a member of the hackclub community 2020 which helps <br>
                            aspiring programmers to attain and horn their skills and experience.
                        </p>
                    </li>
                    <li>
                        <b style="font-size:18px">KMEA Engineering College,Edathala, Aluva, Kerala.
                        </b>
                        <p>
                            <b>September 2020 - PRESENT</b> <br>
                            I’m gaining training in Computer Science and Engineering<br>
                             and trying to gain new experiences with current CGPA # .

                        </p>
                    </li>
                    <li>
                        <b style="font-size:18px">GHSS Edappal, Kerala.</b>
                        <p>
                        <b>May 2018- May2020</b> <br>
                        I did my secondary education on biomaths here,<br>
                        had a great 2 years of experience and passed out with an <br>
                        overall percentage of 85 in 12th
                        </p>
                    </li>
                    <li>
                        <b style="font-size:18px">Ideal Public School,Kochi, Kerala.</b>
                    </li>
                    <p>
                        <b>April 2004 - April 2018</b> <br>
                        I studied here since childhood and made some lifelong relationships and frinds.<br>
                        Gained basic subject knowledge and moral values.<br>
                        I've passed out my 10th here with a overall percentage of 89.
                    </p>

                </ul>

            </div>
            <div class="bubbles">
                <img src="assets/bubble.png">
                <img src="assets/bubble.png">
                <img src="assets/bubble.png">
                <img src="assets/bubble.png">
                <img src="assets/bubble.png">
                <img src="assets/bubble.png">
                <img src="assets/bubble.png">
            </div>

        </div>
        <div class="social-links">
            <a href="https://www.instagram.com/altz_althaf/"><img src="assets/ig copy.png"></a>
            <a href="https://twitter.com/Althaf81101985"><img src="assets/tw.png"></a>
            <a href="https://mail.google.com/mail/u/4/?ogbl"><img src="assets/gm.png"></a>
        </div>
        <div class="useful-links">
            <a href="https://www.linkedin.com/in/althaf-ashraf-231b02210/"><img src="assets/linkedin.png"></a>
            <a href="https://github.com/Ghoul-666"><img src="assets/github.png"></a>
        </div>
        

    </body>
</html>