<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Contact-Me</title>
	<link rel="stylesheet" href="contact-me.component.css">
</head>
<body>
    <div id="image">
        <img src="../assets/background.png" width="1300" height="575"/>
    </div>
	
<div class="wrapper">
  <div class="title">
    <h1>Ping ME!</h1>
  </div>
  <div class="contact-form">
    <div class="input-fields">
      <input type="text" class="input" placeholder="Name">
      <input type="text" class="input" placeholder="Email Address">
      <input type="text" class="input" placeholder="Phone">
      <input type="text" class="input" placeholder="Subject">
    </div>
    <div class="msg">
      <textarea placeholder="Message"></textarea>
      <div class="btn">send</div>
    </div>
  </div>
</div>
<div class="bubbles">
    <img src="assets/bubble.png">
    <img src="assets/bubble.png">
    <img src="assets/bubble.png">
    <img src="assets/bubble.png">
    <img src="assets/bubble.png">
    <img src="assets/bubble.png">
    <img src="assets/bubble.png">
</div>
<div class="social-links">
  <a href="https://www.instagram.com/altz_althaf/"><img src="assets/ig copy.png"></a>
  <a href="https://twitter.com/Althaf81101985"><img src="assets/tw.png"></a>
  <a href="https://mail.google.com/mail/u/4/?ogbl"><img src="assets/gm.png"></a>
</div>
<div class="useful-links">
  <a href="https://www.linkedin.com/in/althaf-ashraf-231b02210/"><img src="assets/linkedin.png"></a>
  <a href="https://github.com/Ghoul-666"><img src="assets/github.png"></a>
</div>
	
</body>
</html>