<html>
    <head>
        <title>About Me!</title>
        <link rel="stylesheet" href="skills.component.css">
    </head>
    <body>
        <div id="image">
            <img src="../assets/background.png" width="1300" height="575"/>
        </div>
        
        <div class="extra">

            <h3>Checkout My Fictional World!</h3>
            <p><a href="https://drive.google.com/drive/folders/1FGNeIhPxUGHLQfoLDMJTvBbUrD8iAj_B?usp=sharing"><img src="../assets/hobby.png" alt="hobby.jpeg" width="30" height="30"></a><br></p>

        </div>
        
        <div class="about">
            
            <div class="content">
            <p><img src="../assets/html.png" alt="html" width="30" height="30"><br>HTML</p>
            <div class="container">
                <div class="skill html">50%</div>
            </div>
            <p><img src="../assets/css.png" alt="css" width="30" height="30"><br>CSS</p>
            <div class="container">
                <div class="skill css">50%</div>
            </div>
            <p><img src="../assets/angular.png" alt="angular" width="30" height="30"><br>ANGULAR</p>
            <div class="container">
                <div class="skill angular">50%</div>
            </div>
            <p><img src="../assets/cpp.png" alt="cpp" width="30" height="30"><br>C++</p>
            <div class="container">
                <div class="skill cpp">40%</div>
            </div>
            <p><img src="../assets/python.png" alt="python" width="30" height="30"><br>PYTHON</p>
            <div class="container">
                <div class="skill python">40%</div>
            </div>
                
            </div>
            <div class="bubbles">
                <img src="assets/bubble.png">
                <img src="assets/bubble.png">
                <img src="assets/bubble.png">
                <img src="assets/bubble.png">
                <img src="assets/bubble.png">
                <img src="assets/bubble.png">
                <img src="assets/bubble.png">
            </div>

        </div>
        <div class="social-links">
            <a href="https://www.instagram.com/altz_althaf/"><img src="assets/ig copy.png"></a>
            <a href="https://twitter.com/Althaf81101985"><img src="assets/tw.png"></a>
            <a href="https://mail.google.com/mail/u/4/?ogbl"><img src="assets/gm.png"></a>
        </div>
        <div class="useful-links">
            <a href="https://www.linkedin.com/in/althaf-ashraf-231b02210/"><img src="assets/linkedin.png"></a>
            <a href="https://github.com/Ghoul-666"><img src="assets/github.png"></a>
        </div>
        

    </body>
</html>