<section class="about">
    
    <div class="background">
        <img src="../assets/background.png" width="1300" height="590">
        
    </div>
    <div class="index">
        <div class="content">
            <h2 >Hey, My name is</h2>
            <h1 >Althaf.<br>I love exploring new things!</h1>
            <p class="para">I am primerly Intrested in writing, epically fantasy fictions and science fiction novels.<br> 
                I enjoy programming, coding and learning about today's innovative technologies,<br>
                Beside this I have a great interste in startups as well.<br>
                 My passions are mainly writing and traveling while I also enjoy reading and sport.</p>
        </div>
        <div class="bubbles">
            <img src="assets/bubble.png">
            <img src="assets/bubble.png">
            <img src="assets/bubble.png">
            <img src="assets/bubble.png">
            <img src="assets/bubble.png">
            <img src="assets/bubble.png">
            <img src="assets/bubble.png">
        </div>
    </div>
    </section>